@import url('https://fonts.cdnfonts.com/css/digital-numbers');
* {
    box-sizing: border-box;
  }


body {
    width: 90%;
    height: 90%;
    font-family: Arial, Tahoma, sans-serif;
    padding: 0%;
    background-image: url(/images/back.png);
}
img{
    width: 100px;
    height: 100px; 
}

.info-container{
 width: 50%;
 height: 50px;
 display: flex;
 justify-content: space-around;
 align-content: center;
 align-items: center;
 border: 3px double blue;
 margin: 2% 26%;
 background-color: thistle;
 font-weight:900;
}

.control{
    width: 95%;
    height: 50px;
    text-align: center;
    font-family: 'Digital Numbers', sans-serif;
    color: rgb(3, 140, 3);
}

.control #start{
    width: 10%;
    height: 40px;
    margin: 0% 49%;
    cursor: pointer;
    border-radius: 5vb;
    background-color: rgb(128, 246, 55);
    border: 3px solid #a315a5;
}

.control #counter{
    margin: 0% 53%;
    font-size:50px;
    font-weight: 900;
}

.control #start:hover{
    background-color: #05ffea;
}



.game-blocks-container{
    margin: 8% 30%;
    position: absolute;
    width: 35%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.flip-card {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.flip-card-inner {
    border: 5px solid rgb(128, 246, 55);
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.flip-card .is-disabled{
    border: 5px solid rgb(128, 246, 55);
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    pointer-events: none;

}
 
.flip-card .is-clicked{
    border: 5px solid rgb(128, 246, 55);
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.flip-card .is-true{
    border: 5px solid rgb(128, 246, 55);
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    pointer-events: none;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-back {
    background-color: #05ffea;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-front{
    margin: 0px 0px;
    font-size: 4svi;
    font-weight: bold;
    background-color: #a315a5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confetti{
    visibility:hidden;
}
.confettiEffect{
    visibility: visible;
}

#end{
    text-align: center;
    font-size: xx-large;
    color: rgb(255, 217, 0);
    padding-left: 8dvb;
    font-weight: 800;
    font-style: italic;
}


#reload{
    width: 10%;
    height: 40px;
    margin: 2% 48%;
    cursor: pointer;
    border-radius: 5vb;
    background-color: rgb(128, 246, 55);
    border: 3px solid #a315a5;
    font-weight: 800;
}


@media only screen and (max-width: 800px) {
    img{
        width: 50px;
        height: 50px; 
    }
    .flip-card {
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }  
    .control #start{
        width: 15%;
        height: 40px;
        margin: 0% 35%;
        cursor: pointer;
        border-radius: 5vb;
        background-color: rgb(128, 246, 55);
        border: 3px solid #a315a5;
    }
    
    .control #counter{
        margin: 0% 45%;
        font-size:50px;
        font-weight: 900;
    } 
    #reload{
        width: 10%;
        height: 40px;
        margin: 2% 40%;
        cursor: pointer;
        border-radius: 5vb;
        background-color: rgb(128, 246, 55);
        border: 3px solid #a315a5;
        font-weight: 500;
    }
}